<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="edu.illinois.compositerefactorings.refactorings.usesupertypeininstanceof.UseSuperTypeInInstanceOfRefactoringContribution"
            id="edu.illinois.compositerefactorings.usesupertypeininstanceof">
      </contribution>
      <contribution
            class="edu.illinois.compositerefactorings.refactorings.createnewtoplevelsuperclass.CreateNewTopLevelSuperClassRefactoringContribution"
            id="edu.illinois.compositerefactorings.createnewtoplevelsuperclass">
      </contribution>
      <contribution
            class="edu.illinois.compositerefactorings.refactorings.createnewtoplevelinterface.CreateNewTopLevelInterfaceRefactoringContribution"
            id="edu.illinois.compositerefactorings.createnewtoplevelinterface">
      </contribution>
      <contribution
            class="edu.illinois.compositerefactorings.refactorings.usesupertypeinvariabledeclarations.UseSuperTypeInVariableDeclarationsRefactoringContribution"
            id="edu.illinois.compositerefactorings.usesupertypeinvariabledeclarations">
      </contribution>
      <contribution
            class="edu.illinois.compositerefactorings.refactorings.copymembertosubtype.CopyMemberToSubtypeRefactoringContribution"
            id="edu.illinois.compositerefactorings.copymembertosubtype">
      </contribution>
   </extension>
</plugin>
