<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="edu.illinois.compositerefactorings.steps.CompositeRefactoringsQuickAssistProcessor"
            id="edu.illinois.compositerefactorings.extractsuperclass.compositeRefactoringsQuickAssistProcessor"
            name="CompositeRefactoringsQuickAssistProcessor">
      </quickAssistProcessor>
   </extension>

</plugin>
